In [1]:
import numpy as np
import pandas as pd

In [2]:
# توليد مصفوفة عناصر
data = np.arange(5000).reshape(100,50)
data

array([[   0,    1,    2, ...,   47,   48,   49],
       [  50,   51,   52, ...,   97,   98,   99],
       [ 100,  101,  102, ...,  147,  148,  149],
       ...,
       [4850, 4851, 4852, ..., 4897, 4898, 4899],
       [4900, 4901, 4902, ..., 4947, 4948, 4949],
       [4950, 4951, 4952, ..., 4997, 4998, 4999]])

In [3]:
# إنشاء قائمة لأسماء الأعمدة
column_name = ['columns_'+str(i) for i in range(50)]

In [4]:
column_name

['columns_0',
 'columns_1',
 'columns_2',
 'columns_3',
 'columns_4',
 'columns_5',
 'columns_6',
 'columns_7',
 'columns_8',
 'columns_9',
 'columns_10',
 'columns_11',
 'columns_12',
 'columns_13',
 'columns_14',
 'columns_15',
 'columns_16',
 'columns_17',
 'columns_18',
 'columns_19',
 'columns_20',
 'columns_21',
 'columns_22',
 'columns_23',
 'columns_24',
 'columns_25',
 'columns_26',
 'columns_27',
 'columns_28',
 'columns_29',
 'columns_30',
 'columns_31',
 'columns_32',
 'columns_33',
 'columns_34',
 'columns_35',
 'columns_36',
 'columns_37',
 'columns_38',
 'columns_39',
 'columns_40',
 'columns_41',
 'columns_42',
 'columns_43',
 'columns_44',
 'columns_45',
 'columns_46',
 'columns_47',
 'columns_48',
 'columns_49']

In [5]:
df = pd.DataFrame(data)
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
1,50,51,52,53,54,55,56,57,58,59,...,90,91,92,93,94,95,96,97,98,99
2,100,101,102,103,104,105,106,107,108,109,...,140,141,142,143,144,145,146,147,148,149
3,150,151,152,153,154,155,156,157,158,159,...,190,191,192,193,194,195,196,197,198,199
4,200,201,202,203,204,205,206,207,208,209,...,240,241,242,243,244,245,246,247,248,249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4750,4751,4752,4753,4754,4755,4756,4757,4758,4759,...,4790,4791,4792,4793,4794,4795,4796,4797,4798,4799
96,4800,4801,4802,4803,4804,4805,4806,4807,4808,4809,...,4840,4841,4842,4843,4844,4845,4846,4847,4848,4849
97,4850,4851,4852,4853,4854,4855,4856,4857,4858,4859,...,4890,4891,4892,4893,4894,4895,4896,4897,4898,4899
98,4900,4901,4902,4903,4904,4905,4906,4907,4908,4909,...,4940,4941,4942,4943,4944,4945,4946,4947,4948,4949
99,4950,4951,4952,4953,4954,4955,4956,4957,4958,4959,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
type(df[0])

pandas.core.series.Series

In [8]:
# إضافة أسماء الأعمدة
df = pd.DataFrame(data,columns = column_name)
df

,columns_0,columns_1,columns_2,columns_3,columns_4,columns_5,columns_6,columns_7,columns_8,columns_9,...,columns_40,columns_41,columns_42,columns_43,columns_44,columns_45,columns_46,columns_47,columns_48,columns_49
0,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
1,50,51,52,53,54,55,56,57,58,59,...,90,91,92,93,94,95,96,97,98,99
2,100,101,102,103,104,105,106,107,108,109,...,140,141,142,143,144,145,146,147,148,149
3,150,151,152,153,154,155,156,157,158,159,...,190,191,192,193,194,195,196,197,198,199
4,200,201,202,203,204,205,206,207,208,209,...,240,241,242,243,244,245,246,247,248,249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4750,4751,4752,4753,4754,4755,4756,4757,4758,4759,...,4790,4791,4792,4793,4794,4795,4796,4797,4798,4799
96,4800,4801,4802,4803,4804,4805,4806,4807,4808,4809,...,4840,4841,4842,4843,4844,4845,4846,4847,4848,4849
97,4850,4851,4852,4853,4854,4855,4856,4857,4858,4859,...,4890,4891,4892,4893,4894,4895,4896,4897,4898,4899
98,4900,4901,4902,4903,4904,4905,4906,4907,4908,4909,...,4940,4941,4942,4943,4944,4945,4946,4947,4948,4949
99,4950,4951,4952,4953,4954,4955,4956,4957,4958,4959,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999

In [9]:
dic1 = {'name1':'ashraf','name2':'islam'}
dic2 = {'score1':18,'score2':20}
pd.DataFrame(data=(dic1,dic2))

    name1  name2  score1  score2
0  ashraf  islam     NaN     NaN
1     NaN    NaN    18.0    20.0

In [10]:
dic = {'name1': list(range(10)),'name2':list(range(10,20))}
pd.DataFrame().from_dict(dic)

   name1  name2
0      0     10
1      1     11
2      2     12
3      3     13
4      4     14
5      5     15
6      6     16
7      7     17
8      8     18
9      9     19

In [11]:
df

,columns_0,columns_1,columns_2,columns_3,columns_4,columns_5,columns_6,columns_7,columns_8,columns_9,...,columns_40,columns_41,columns_42,columns_43,columns_44,columns_45,columns_46,columns_47,columns_48,columns_49
0,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
1,50,51,52,53,54,55,56,57,58,59,...,90,91,92,93,94,95,96,97,98,99
2,100,101,102,103,104,105,106,107,108,109,...,140,141,142,143,144,145,146,147,148,149
3,150,151,152,153,154,155,156,157,158,159,...,190,191,192,193,194,195,196,197,198,199
4,200,201,202,203,204,205,206,207,208,209,...,240,241,242,243,244,245,246,247,248,249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4750,4751,4752,4753,4754,4755,4756,4757,4758,4759,...,4790,4791,4792,4793,4794,4795,4796,4797,4798,4799
96,4800,4801,4802,4803,4804,4805,4806,4807,4808,4809,...,4840,4841,4842,4843,4844,4845,4846,4847,4848,4849
97,4850,4851,4852,4853,4854,4855,4856,4857,4858,4859,...,4890,4891,4892,4893,4894,4895,4896,4897,4898,4899
98,4900,4901,4902,4903,4904,4905,4906,4907,4908,4909,...,4940,4941,4942,4943,4944,4945,4946,4947,4948,4949
99,4950,4951,4952,4953,4954,4955,4956,4957,4958,4959,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999

In [12]:
df.describe()

,columns_0,columns_1,columns_2,columns_3,columns_4,columns_5,columns_6,columns_7,columns_8,columns_9,...,columns_40,columns_41,columns_42,columns_43,columns_44,columns_45,columns_46,columns_47,columns_48,columns_49
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,2475.000000,2476.000000,2477.000000,2478.000000,2479.000000,2480.000000,2481.000000,2482.000000,2483.000000,2484.000000,...,2515.000000,2516.000000,2517.000000,2518.000000,2519.000000,2520.000000,2521.000000,2522.000000,2523.000000,2524.000000
std,1450.574599,1450.574599,1450.574599,1450.574599,1450.574599,1450.574599,1450.574599,1450.574599,1450.574599,1450.574599,...,1450.574599,1450.574599,1450.574599,1450.574599,1450.574599,1450.574599,1450.574599,1450.574599,1450.574599,1450.574599
min,0.000000,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,...,40.000000,41.000000,42.000000,43.000000,44.000000,45.000000,46.000000,47.000000,48.000000,49.000000
25%,1237.500000,1238.500000,1239.500000,1240.500000,1241.500000,1242.500000,1243.500000,1244.500000,1245.500000,1246.500000,...,1277.500000,1278.500000,1279.500000,1280.500000,1281.500000,1282.500000,1283.500000,1284.500000,1285.500000,1286.500000
50%,2475.000000,2476.000000,2477.000000,2478.000000,2479.000000,2480.000000,2481.000000,2482.000000,2483.000000,2484.000000,...,2515.000000,2516.000000,2517.000000,2518.000000,2519.000000,2520.000000,2521.000000,2522.000000,2523.000000,2524.000000
75%,3712.500000,3713.500000,3714.500000,3715.500000,3716.500000,3717.500000,3718.500000,3719.500000,3720.500000,3721.500000,...,3752.500000,3753.500000,3754.500000,3755.500000,3756.500000,3757.500000,3758.500000,3759.500000,3760.500000,3761.500000
max,4950.000000,4951.000000,4952.000000,4953.000000,4954.000000,4955.000000,4956.000000,4957.000000,4958.000000,4959.000000,...,4990.000000,4991.000000,4992.000000,4993.000000,4994.000000,4995.000000,4996.000000,4997.000000,4998.000000,4999.000000

In [13]:
df[:4]

,columns_0,columns_1,columns_2,columns_3,columns_4,columns_5,columns_6,columns_7,columns_8,columns_9,...,columns_40,columns_41,columns_42,columns_43,columns_44,columns_45,columns_46,columns_47,columns_48,columns_49
0,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
1,50,51,52,53,54,55,56,57,58,59,...,90,91,92,93,94,95,96,97,98,99
2,100,101,102,103,104,105,106,107,108,109,...,140,141,142,143,144,145,146,147,148,149
3,150,151,152,153,154,155,156,157,158,159,...,190,191,192,193,194,195,196,197,198,199

In [14]:
# إظهار السطر الثاني 
df.loc[1]

columns_0     50
columns_1     51
columns_2     52
columns_3     53
columns_4     54
columns_5     55
columns_6     56
columns_7     57
columns_8     58
columns_9     59
columns_10    60
columns_11    61
columns_12    62
columns_13    63
columns_14    64
columns_15    65
columns_16    66
columns_17    67
columns_18    68
columns_19    69
columns_20    70
columns_21    71
columns_22    72
columns_23    73
columns_24    74
columns_25    75
columns_26    76
columns_27    77
columns_28    78
columns_29    79
columns_30    80
columns_31    81
columns_32    82
columns_33    83
columns_34    84
columns_35    85
columns_36    86
columns_37    87
columns_38    88
columns_39    89
columns_40    90
columns_41    91
columns_42    92
columns_43    93
columns_44    94
columns_45    95
columns_46    96
columns_47    97
columns_48    98
columns_49    99
Name: 1, dtype: int32

In [15]:
# DataFrame الإظهار على هيئة 
df.loc[[1]]

,columns_0,columns_1,columns_2,columns_3,columns_4,columns_5,columns_6,columns_7,columns_8,columns_9,...,columns_40,columns_41,columns_42,columns_43,columns_44,columns_45,columns_46,columns_47,columns_48,columns_49
1,50,51,52,53,54,55,56,57,58,59,...,90,91,92,93,94,95,96,97,98,99

In [16]:
# تقطيع البيانات حسب الحاجة
df.loc[:3,['columns_3','columns_7']]

   columns_3  columns_7
0          3          7
1         53         57
2        103        107
3        153        157

In [17]:
# التقطيع هنا فقط يتم على السطور
df[:3]

,columns_0,columns_1,columns_2,columns_3,columns_4,columns_5,columns_6,columns_7,columns_8,columns_9,...,columns_40,columns_41,columns_42,columns_43,columns_44,columns_45,columns_46,columns_47,columns_48,columns_49
0,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
1,50,51,52,53,54,55,56,57,58,59,...,90,91,92,93,94,95,96,97,98,99
2,100,101,102,103,104,105,106,107,108,109,...,140,141,142,143,144,145,146,147,148,149

In [18]:
# التقطيع بالنسبة لترتيب الرقمي لكل من الأعمدة والفهارس
df.iloc[[1]]

,columns_0,columns_1,columns_2,columns_3,columns_4,columns_5,columns_6,columns_7,columns_8,columns_9,...,columns_40,columns_41,columns_42,columns_43,columns_44,columns_45,columns_46,columns_47,columns_48,columns_49
1,50,51,52,53,54,55,56,57,58,59,...,90,91,92,93,94,95,96,97,98,99

In [19]:
df.iloc[:4,:4]

   columns_0  columns_1  columns_2  columns_3
0          0          1          2          3
1         50         51         52         53
2        100        101        102        103
3        150        151        152        153

In [20]:
# هنا نقوم بتصفية البيانات حسب الحاجة 
df[(df['columns_0'] == 200)]

,columns_0,columns_1,columns_2,columns_3,columns_4,columns_5,columns_6,columns_7,columns_8,columns_9,...,columns_40,columns_41,columns_42,columns_43,columns_44,columns_45,columns_46,columns_47,columns_48,columns_49
4,200,201,202,203,204,205,206,207,208,209,...,240,241,242,243,244,245,246,247,248,249

In [21]:
# هنا نقوم بتصفية البيانات حسب الحاجة 
df[(df['columns_0'] < 200)]

,columns_0,columns_1,columns_2,columns_3,columns_4,columns_5,columns_6,columns_7,columns_8,columns_9,...,columns_40,columns_41,columns_42,columns_43,columns_44,columns_45,columns_46,columns_47,columns_48,columns_49
0,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
1,50,51,52,53,54,55,56,57,58,59,...,90,91,92,93,94,95,96,97,98,99
2,100,101,102,103,104,105,106,107,108,109,...,140,141,142,143,144,145,146,147,148,149
3,150,151,152,153,154,155,156,157,158,159,...,190,191,192,193,194,195,196,197,198,199

In [22]:
# إستبدال بعض قيم العامود بقيم مفقودة
df.loc[10:30,['columns_7']] = np.nan

In [23]:
df.isnull().sum()

columns_0      0
columns_1      0
columns_2      0
columns_3      0
columns_4      0
columns_5      0
columns_6      0
columns_7     21
columns_8      0
columns_9      0
columns_10     0
columns_11     0
columns_12     0
columns_13     0
columns_14     0
columns_15     0
columns_16     0
columns_17     0
columns_18     0
columns_19     0
columns_20     0
columns_21     0
columns_22     0
columns_23     0
columns_24     0
columns_25     0
columns_26     0
columns_27     0
columns_28     0
columns_29     0
columns_30     0
columns_31     0
columns_32     0
columns_33     0
columns_34     0
columns_35     0
columns_36     0
columns_37     0
columns_38     0
columns_39     0
columns_40     0
columns_41     0
columns_42     0
columns_43     0
columns_44     0
columns_45     0
columns_46     0
columns_47     0
columns_48     0
columns_49     0
dtype: int64

In [24]:
# ملئ هذه القيم بأصفار 
df['columns_7'] = df['columns_7'].fillna(0)

In [25]:
df['columns_7'].isnull().sum()

0

In [26]:
df['columns_7'].value_counts()

0.0       21
4007.0     1
3907.0     1
3857.0     1
3807.0     1
          ..
2307.0     1
2257.0     1
2207.0     1
2157.0     1
4957.0     1
Name: columns_7, Length: 80, dtype: int64

In [27]:
df['columns_7'].mean(),df['columns_7'].sum(),df['columns_7'].var()

(2270.53, 227053.0, 2884790.130404042)

In [28]:
# جمع تراكمي 
np.cumsum(df['columns_7'])

0          7.0
1         64.0
2        171.0
3        328.0
4        535.0
        ...
95    207525.0
96    212332.0
97    217189.0
98    222096.0
99    227053.0
Name: columns_7, Length: 100, dtype: float64

In [29]:
# إستخراج قيم بعض الأعمدة 
ser = df['columns_1']
df1 = df[['columns_7']]

In [30]:
ser

0        1
1       51
2      101
3      151
4      201
      ...
95    4751
96    4801
97    4851
98    4901
99    4951
Name: columns_1, Length: 100, dtype: int32

In [31]:
df1

    columns_7
0         7.0
1        57.0
2       107.0
3       157.0
4       207.0
..        ...
95     4757.0
96     4807.0
97     4857.0
98     4907.0
99     4957.0

[100 rows x 1 columns]

In [32]:
# map هنا تم تغير نوع السلسة عن طريق دالة بايثون 
ser.map(str)

0        1
1       51
2      101
3      151
4      201
      ...
95    4751
96    4801
97    4851
98    4901
99    4951
Name: columns_1, Length: 100, dtype: object

In [33]:
ser.map(str).dtype

dtype('O')

In [34]:
ser.map(str)[7]

'351'

In [35]:
# هنا إستخدام مفهوم القاموس لتوصيل عناصر البيانات ببيانات أخرى
dic_check = {'a':10,'b':20,'c':30}
arr = np.array(['a','b','c','a','b','c'])
df2 = pd.DataFrame(arr,columns=['column_name'])

In [36]:
df2

  column_name
0           a
1           b
2           c
3           a
4           b
5           c

In [37]:
df2['column_name'].map(dic_check)

0    10
1    20
2    30
3    10
4    20
5    30
Name: column_name, dtype: int64

In [38]:
df.apply(sum,axis =0)

columns_0     247500.0
columns_1     247600.0
columns_2     247700.0
columns_3     247800.0
columns_4     247900.0
columns_5     248000.0
columns_6     248100.0
columns_7     227053.0
columns_8     248300.0
columns_9     248400.0
columns_10    248500.0
columns_11    248600.0
columns_12    248700.0
columns_13    248800.0
columns_14    248900.0
columns_15    249000.0
columns_16    249100.0
columns_17    249200.0
columns_18    249300.0
columns_19    249400.0
columns_20    249500.0
columns_21    249600.0
columns_22    249700.0
columns_23    249800.0
columns_24    249900.0
columns_25    250000.0
columns_26    250100.0
columns_27    250200.0
columns_28    250300.0
columns_29    250400.0
columns_30    250500.0
columns_31    250600.0
columns_32    250700.0
columns_33    250800.0
columns_34    250900.0
columns_35    251000.0
columns_36    251100.0
columns_37    251200.0
columns_38    251300.0
columns_39    251400.0
columns_40    251500.0
columns_41    251600.0
columns_42    251700.0
columns_43    251800.0
columns_44    251900.0
columns_45    252000.0
columns_46    252100.0
columns_47    252200.0
columns_48    252300.0
columns_49    252400.0
dtype: float64

In [39]:
# دالة فحص
def check(x):
    if x < 100:
        return 'G100'
    elif x < 500:
        return 'G500'
    elif x < 900:
        return 'G900'
    else:
        return 'None'

In [40]:
df

,columns_0,columns_1,columns_2,columns_3,columns_4,columns_5,columns_6,columns_7,columns_8,columns_9,...,columns_40,columns_41,columns_42,columns_43,columns_44,columns_45,columns_46,columns_47,columns_48,columns_49
0,0,1,2,3,4,5,6,7.0,8,9,...,40,41,42,43,44,45,46,47,48,49
1,50,51,52,53,54,55,56,57.0,58,59,...,90,91,92,93,94,95,96,97,98,99
2,100,101,102,103,104,105,106,107.0,108,109,...,140,141,142,143,144,145,146,147,148,149
3,150,151,152,153,154,155,156,157.0,158,159,...,190,191,192,193,194,195,196,197,198,199
4,200,201,202,203,204,205,206,207.0,208,209,...,240,241,242,243,244,245,246,247,248,249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4750,4751,4752,4753,4754,4755,4756,4757.0,4758,4759,...,4790,4791,4792,4793,4794,4795,4796,4797,4798,4799
96,4800,4801,4802,4803,4804,4805,4806,4807.0,4808,4809,...,4840,4841,4842,4843,4844,4845,4846,4847,4848,4849
97,4850,4851,4852,4853,4854,4855,4856,4857.0,4858,4859,...,4890,4891,4892,4893,4894,4895,4896,4897,4898,4899
98,4900,4901,4902,4903,4904,4905,4906,4907.0,4908,4909,...,4940,4941,4942,4943,4944,4945,4946,4947,4948,4949
99,4950,4951,4952,4953,4954,4955,4956,4957.0,4958,4959,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999

In [41]:
# تطبيق هذه الدالة على عناصر عامود ما
df['columns_1'].apply(lambda x:check(x))

0     G100
1     G100
2     G500
3     G500
4     G500
      ...
95    None
96    None
97    None
98    None
99    None
Name: columns_1, Length: 100, dtype: object

In [42]:
df

,columns_0,columns_1,columns_2,columns_3,columns_4,columns_5,columns_6,columns_7,columns_8,columns_9,...,columns_40,columns_41,columns_42,columns_43,columns_44,columns_45,columns_46,columns_47,columns_48,columns_49
0,0,1,2,3,4,5,6,7.0,8,9,...,40,41,42,43,44,45,46,47,48,49
1,50,51,52,53,54,55,56,57.0,58,59,...,90,91,92,93,94,95,96,97,98,99
2,100,101,102,103,104,105,106,107.0,108,109,...,140,141,142,143,144,145,146,147,148,149
3,150,151,152,153,154,155,156,157.0,158,159,...,190,191,192,193,194,195,196,197,198,199
4,200,201,202,203,204,205,206,207.0,208,209,...,240,241,242,243,244,245,246,247,248,249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4750,4751,4752,4753,4754,4755,4756,4757.0,4758,4759,...,4790,4791,4792,4793,4794,4795,4796,4797,4798,4799
96,4800,4801,4802,4803,4804,4805,4806,4807.0,4808,4809,...,4840,4841,4842,4843,4844,4845,4846,4847,4848,4849
97,4850,4851,4852,4853,4854,4855,4856,4857.0,4858,4859,...,4890,4891,4892,4893,4894,4895,4896,4897,4898,4899
98,4900,4901,4902,4903,4904,4905,4906,4907.0,4908,4909,...,4940,4941,4942,4943,4944,4945,4946,4947,4948,4949
99,4950,4951,4952,4953,4954,4955,4956,4957.0,4958,4959,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999

In [43]:
# تطبيق هذه الدالة على كل الأعمدة
df.applymap(check)

,columns_0,columns_1,columns_2,columns_3,columns_4,columns_5,columns_6,columns_7,columns_8,columns_9,...,columns_40,columns_41,columns_42,columns_43,columns_44,columns_45,columns_46,columns_47,columns_48,columns_49
0,G100,G100,G100,G100,G100,G100,G100,G100,G100,G100,...,G100,G100,G100,G100,G100,G100,G100,G100,G100,G100
1,G100,G100,G100,G100,G100,G100,G100,G100,G100,G100,...,G100,G100,G100,G100,G100,G100,G100,G100,G100,G100
2,G500,G500,G500,G500,G500,G500,G500,G500,G500,G500,...,G500,G500,G500,G500,G500,G500,G500,G500,G500,G500
3,G500,G500,G500,G500,G500,G500,G500,G500,G500,G500,...,G500,G500,G500,G500,G500,G500,G500,G500,G500,G500
4,G500,G500,G500,G500,G500,G500,G500,G500,G500,G500,...,G500,G500,G500,G500,G500,G500,G500,G500,G500,G500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
96,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
97,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
98,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
99,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [44]:
df

,columns_0,columns_1,columns_2,columns_3,columns_4,columns_5,columns_6,columns_7,columns_8,columns_9,...,columns_40,columns_41,columns_42,columns_43,columns_44,columns_45,columns_46,columns_47,columns_48,columns_49
0,0,1,2,3,4,5,6,7.0,8,9,...,40,41,42,43,44,45,46,47,48,49
1,50,51,52,53,54,55,56,57.0,58,59,...,90,91,92,93,94,95,96,97,98,99
2,100,101,102,103,104,105,106,107.0,108,109,...,140,141,142,143,144,145,146,147,148,149
3,150,151,152,153,154,155,156,157.0,158,159,...,190,191,192,193,194,195,196,197,198,199
4,200,201,202,203,204,205,206,207.0,208,209,...,240,241,242,243,244,245,246,247,248,249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4750,4751,4752,4753,4754,4755,4756,4757.0,4758,4759,...,4790,4791,4792,4793,4794,4795,4796,4797,4798,4799
96,4800,4801,4802,4803,4804,4805,4806,4807.0,4808,4809,...,4840,4841,4842,4843,4844,4845,4846,4847,4848,4849
97,4850,4851,4852,4853,4854,4855,4856,4857.0,4858,4859,...,4890,4891,4892,4893,4894,4895,4896,4897,4898,4899
98,4900,4901,4902,4903,4904,4905,4906,4907.0,4908,4909,...,4940,4941,4942,4943,4944,4945,4946,4947,4948,4949
99,4950,4951,4952,4953,4954,4955,4956,4957.0,4958,4959,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999

In [45]:
# لنمارس بعض القطع والوصل
table1 = pd.DataFrame(data={'column1':[1,2,3,4],'column2':[5,6,7,8]})
table2 = pd.DataFrame(data={'column1':[9,10,11,12],'column2':[13,14,15,16]})
table3 = pd.DataFrame(data={'column3':[1,2,3,4],'column4':[5,6,7,8]})

In [46]:
# قطع و وصل على مستوى أفقي
pd.concat([table1,table2],axis =1)

   column1  column2  column1  column2
0        1        5        9       13
1        2        6       10       14
2        3        7       11       15
3        4        8       12       16

In [47]:
# قطع و وصل على مستوى عامودي
pd.concat([table1,table2])

   column1  column2
0        1        5
1        2        6
2        3        7
3        4        8
0        9       13
1       10       14
2       11       15
3       12       16

In [48]:
# قطع و وصل على مستوى أفقي
pd.concat([table1,table3],axis=1)

   column1  column2  column3  column4
0        1        5        1        5
1        2        6        2        6
2        3        7        3        7
3        4        8        4        8

In [49]:
# نلاحظ أن أسماء الأعمدة مختلفة لذلك تم تعبت الخلايا بقيم مفقودة
pd.concat([table1,table3],ignore_index=True)

   column1  column2  column3  column4
0      1.0      5.0      NaN      NaN
1      2.0      6.0      NaN      NaN
2      3.0      7.0      NaN      NaN
3      4.0      8.0      NaN      NaN
4      NaN      NaN      1.0      5.0
5      NaN      NaN      2.0      6.0
6      NaN      NaN      3.0      7.0
7      NaN      NaN      4.0      8.0

In [50]:
# نلاحظ أن أسماء الأعمدة مختلفة لذلك تم تعبت الخلايا بقيم مفقودة
pd.concat([table1,table3]).reset_index()

   index  column1  column2  column3  column4
0      0      1.0      5.0      NaN      NaN
1      1      2.0      6.0      NaN      NaN
2      2      3.0      7.0      NaN      NaN
3      3      4.0      8.0      NaN      NaN
4      0      NaN      NaN      1.0      5.0
5      1      NaN      NaN      2.0      6.0
6      2      NaN      NaN      3.0      7.0
7      3      NaN      NaN      4.0      8.0

In [51]:
data = pd.read_excel('Sample - Superstore.xls')

In [52]:
data

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [53]:
data.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [54]:
data.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [55]:
data['Product ID'].nunique()

1862

In [56]:
data.dtypes

Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code               int64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
Quantity                  int64
Discount                float64
Profit                  float64
dtype: object

In [57]:
# معرفة تكرار العناصر في كل سطر
for col in data.columns:
    print(col,'--->',data[col].nunique())

Row ID ---> 9994
Order ID ---> 5009
Order Date ---> 1237
Ship Date ---> 1334
Ship Mode ---> 4
Customer ID ---> 793
Customer Name ---> 793
Segment ---> 3
Country ---> 1
City ---> 531
State ---> 49
Postal Code ---> 631
Region ---> 4
Product ID ---> 1862
Category ---> 3
Sub-Category ---> 17
Product Name ---> 1850
Sales ---> 6144
Quantity ---> 14
Discount ---> 12
Profit ---> 7545

<h2> pivot table </h2>
<br>
<b>
من خلال تسميته يساعد على أن نجعل البيانات مرتكزة(تتمحور) على فهرس،عامود،قيم داخل الجدول 
من خلال تعين دالة تقوم بحساب عمليات على القيم التى داخل الجدول
</b>

In [58]:
pd.pivot_table(data,index='Sub-Category',values=['Sales','Profit'],aggfunc = 'mean')

                  Profit        Sales
Sub-Category
Accessories    54.111788   215.974604
Appliances     38.922758   230.755710
Art             8.200737    34.068834
Binders        19.843574   133.560560
Bookcases     -15.230509   503.859633
Chairs         43.095894   532.332420
Copiers       817.909190  2198.941618
Envelopes      27.418019    64.867724
Fasteners       4.375660    13.936774
Furnishings    13.645918    95.825668
Labels         15.236962    34.303055
Machines       29.432669  1645.553313
Paper          24.856620    57.284092
Phones         50.073938   371.211534
Storage        25.152277   264.590553
Supplies       -6.258418   245.650200
Tables        -55.565771   648.794771

In [59]:
save_mean = pd.pivot_table(data,index='Sub-Category',values=['Sales','Profit'],
                           aggfunc = 'mean').reset_index()
save_mean

   Sub-Category      Profit        Sales
0   Accessories   54.111788   215.974604
1    Appliances   38.922758   230.755710
2           Art    8.200737    34.068834
3       Binders   19.843574   133.560560
4     Bookcases  -15.230509   503.859633
5        Chairs   43.095894   532.332420
6       Copiers  817.909190  2198.941618
7     Envelopes   27.418019    64.867724
8     Fasteners    4.375660    13.936774
9   Furnishings   13.645918    95.825668
10       Labels   15.236962    34.303055
11     Machines   29.432669  1645.553313
12        Paper   24.856620    57.284092
13       Phones   50.073938   371.211534
14      Storage   25.152277   264.590553
15     Supplies   -6.258418   245.650200
16       Tables  -55.565771   648.794771

In [60]:
save_std = pd.pivot_table(data,index='Sub-Category',values=['Sales','Profit'],
                          aggfunc = np.std).reset_index()
save_std

   Sub-Category       Profit        Sales
0   Accessories   106.155455   334.965015
1    Appliances   148.319146   388.949643
2           Art    13.384264    60.122465
3       Binders   306.196773   563.251188
4     Bookcases   182.034224   638.748523
5        Chairs   127.099922   550.148243
6       Copiers  1460.921156  3175.665867
7     Envelopes    35.354983    84.351633
8     Fasteners     5.055053    12.416593
9   Furnishings    52.753228   147.893640
10       Labels    34.084127    74.119287
11     Machines  1099.070067  2765.102088
12        Paper    35.225214    78.167639
13       Phones   113.251277   491.457343
14      Storage    81.923600   355.222507
15     Supplies   105.059628   923.828753
16       Tables   230.565006   615.774655

In [61]:
# تعديل على أسماء الأعمدة
save_mean.columns = ['Sub-Category','Profit_mean','Sales_mean']
save_std.columns = ['Sub-Category','Profit_std','Sales_std']
save_mean

   Sub-Category  Profit_mean   Sales_mean
0   Accessories    54.111788   215.974604
1    Appliances    38.922758   230.755710
2           Art     8.200737    34.068834
3       Binders    19.843574   133.560560
4     Bookcases   -15.230509   503.859633
5        Chairs    43.095894   532.332420
6       Copiers   817.909190  2198.941618
7     Envelopes    27.418019    64.867724
8     Fasteners     4.375660    13.936774
9   Furnishings    13.645918    95.825668
10       Labels    15.236962    34.303055
11     Machines    29.432669  1645.553313
12        Paper    24.856620    57.284092
13       Phones    50.073938   371.211534
14      Storage    25.152277   264.590553
15     Supplies    -6.258418   245.650200
16       Tables   -55.565771   648.794771

In [62]:
# دمج على عامود الفئة
pd.merge(save_mean,save_std,on='Sub-Category')

   Sub-Category  Profit_mean   Sales_mean   Profit_std    Sales_std
0   Accessories    54.111788   215.974604   106.155455   334.965015
1    Appliances    38.922758   230.755710   148.319146   388.949643
2           Art     8.200737    34.068834    13.384264    60.122465
3       Binders    19.843574   133.560560   306.196773   563.251188
4     Bookcases   -15.230509   503.859633   182.034224   638.748523
5        Chairs    43.095894   532.332420   127.099922   550.148243
6       Copiers   817.909190  2198.941618  1460.921156  3175.665867
7     Envelopes    27.418019    64.867724    35.354983    84.351633
8     Fasteners     4.375660    13.936774     5.055053    12.416593
9   Furnishings    13.645918    95.825668    52.753228   147.893640
10       Labels    15.236962    34.303055    34.084127    74.119287
11     Machines    29.432669  1645.553313  1099.070067  2765.102088
12        Paper    24.856620    57.284092    35.225214    78.167639
13       Phones    50.073938   371.211534   113.251277   491.457343
14      Storage    25.152277   264.590553    81.923600   355.222507
15     Supplies    -6.258418   245.650200   105.059628   923.828753
16       Tables   -55.565771   648.794771   230.565006   615.774655

In [63]:
df_p = pd.pivot_table(data,index=['Category','Sub-Category'],values=['Sales','Profit']
               ,aggfunc=[np.std,np.mean,np.median])
df_p

                                      std                     mean  \
                                   Profit        Sales      Profit
Category        Sub-Category
Furniture       Bookcases      182.034224   638.748523  -15.230509
                Chairs         127.099922   550.148243   43.095894
                Furnishings     52.753228   147.893640   13.645918
                Tables         230.565006   615.774655  -55.565771
Office Supplies Appliances     148.319146   388.949643   38.922758
                Art             13.384264    60.122465    8.200737
                Binders        306.196773   563.251188   19.843574
                Envelopes       35.354983    84.351633   27.418019
                Fasteners        5.055053    12.416593    4.375660
                Labels          34.084127    74.119287   15.236962
                Paper           35.225214    78.167639   24.856620
                Storage         81.923600   355.222507   25.152277
                Supplies       105.059628   923.828753   -6.258418
Technology      Accessories    106.155455   334.965015   54.111788
                Copiers       1460.921156  3175.665867  817.909190
                Machines      1099.070067  2765.102088   29.432669
                Phones         113.251277   491.457343   50.073938

                                              median
                                    Sales     Profit       Sales
Category        Sub-Category
Furniture       Bookcases      503.859633    4.13330   306.82025
                Chairs         532.332420   13.31760   362.13600
                Furnishings     95.825668    9.10200    41.96000
                Tables         648.794771  -31.37220   447.84000
Office Supplies Appliances     230.755710   17.44650    82.69000
                Art             34.068834    3.72360    15.50400
                Binders        133.560560    3.97710    18.56000
                Envelopes       64.867724   12.71835    29.04600
                Fasteners       13.936774    2.84160    10.58400
                Labels          34.303055    6.87140    14.94000
                Paper           57.284092   11.54320    26.72000
                Storage        264.590553    7.75700   113.92800
                Supplies       245.650200    3.95930    27.93000
Technology      Accessories    215.974604   21.00000   100.00000
                Copiers       2198.941618  332.99420  1099.98000
                Machines      1645.553313   38.99740   599.98500
                Phones         371.211534   23.52480   209.97000

In [64]:
# تقطيع حسب الحاجة
df_p.loc[(['Office Supplies','Technology'],['Paper','Binders','Phones'])
         ,(['mean','median'],['Sales'])]
# وجب ملاحظة تأثير القيم التى هي خارج النطاق

                                    mean  median
                                   Sales   Sales
Category        Sub-Category
Office Supplies Paper          57.284092   26.72
                Binders       133.560560   18.56
Technology      Phones        371.211534  209.97

In [65]:
data.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [66]:
# (numpy💪)  لا تستخدم دوال بايثون الأساسية كما فعلت لأنها بطيئة 
# \ تسمح بتكملة الكود في السطر الذي يليه
pd.pivot_table(data,index=['Customer ID'],values=['Sales'],aggfunc=sum).reset_index().\
     sort_values(by='Sales',ascending = False).head(10)

    Customer ID      Sales
700    SM-20320  25043.050
741    TC-20980  19052.218
621    RB-19360  15117.339
730    TA-21385  14595.620
6      AB-10105  14473.571
434    KL-16645  14175.229
669    SC-20095  14142.334
327    HL-15040  12873.298
683    SE-20110  12209.438
131    CC-12370  12129.072

In [67]:
#   للذين لديهم أكبر قيمة شرائية ID معرفة 
x = pd.pivot_table(data,index=['Customer ID'],values=['Sales'],aggfunc=sum).reset_index().\
     sort_values(by='Sales',ascending = False).head(10)['Customer ID'].values
x

array(['SM-20320', 'TC-20980', 'RB-19360', 'TA-21385', 'AB-10105',
       'KL-16645', 'SC-20095', 'HL-15040', 'SE-20110', 'CC-12370'],
      dtype=object)

In [68]:
data[data['Customer ID'].isin(x)].head(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
237,238,CA-2016-157749,2016-06-04,2016-06-09,Second Class,KL-16645,Ken Lonsdale,Consumer,United States,Chicago,...,60610,Central,OFF-PA-10003349,Office Supplies,Paper,Xerox 1957,25.920,5,0.2,9.3960
238,239,CA-2016-157749,2016-06-04,2016-06-09,Second Class,KL-16645,Ken Lonsdale,Consumer,United States,Chicago,...,60610,Central,FUR-FU-10000576,Furniture,Furnishings,Luxo Professional Fluorescent Magnifier Lamp w...,419.680,5,0.6,-356.7280
239,240,CA-2016-157749,2016-06-04,2016-06-09,Second Class,KL-16645,Ken Lonsdale,Consumer,United States,Chicago,...,60610,Central,FUR-FU-10004351,Furniture,Furnishings,Staple-based wall hangings,11.688,3,0.6,-4.6752
240,241,CA-2016-157749,2016-06-04,2016-06-09,Second Class,KL-16645,Ken Lonsdale,Consumer,United States,Chicago,...,60610,Central,TEC-PH-10000011,Technology,Phones,PureGear Roll-On Screen Protector,31.984,2,0.2,11.1944
241,242,CA-2016-157749,2016-06-04,2016-06-09,Second Class,KL-16645,Ken Lonsdale,Consumer,United States,Chicago,...,60610,Central,FUR-TA-10002607,Furniture,Tables,KI Conference Tables,177.225,5,0.5,-120.5130
242,243,CA-2016-157749,2016-06-04,2016-06-09,Second Class,KL-16645,Ken Lonsdale,Consumer,United States,Chicago,...,60610,Central,FUR-FU-10002505,Furniture,Furnishings,Eldon 100 Class Desk Accessories,4.044,3,0.6,-2.8308
243,244,CA-2016-157749,2016-06-04,2016-06-09,Second Class,KL-16645,Ken Lonsdale,Consumer,United States,Chicago,...,60610,Central,OFF-AR-10004685,Office Supplies,Art,Binney & Smith Crayola Metallic Colored Pencil...,7.408,2,0.2,1.2038
339,340,CA-2015-128167,2015-06-22,2015-06-26,Second Class,KL-16645,Ken Lonsdale,Consumer,United States,Layton,...,84041,West,OFF-FA-10000490,Office Supplies,Fasteners,"OIC Binder Clips, Mini, 1/4"" Capacity, Black",4.960,4,0.0,2.3312
447,448,CA-2016-166674,2016-04-01,2016-04-03,Second Class,RB-19360,Raymond Buch,Consumer,United States,Auburn,...,13021,East,OFF-AR-10000588,Office Supplies,Art,Newell 345,59.520,3,0.0,15.4752
448,449,CA-2016-166674,2016-04-01,2016-04-03,Second Class,RB-19360,Raymond Buch,Consumer,United States,Auburn,...,13021,East,OFF-ST-10001469,Office Supplies,Storage,Fellowes Bankers Box Recycled Super Stor/Drawer,161.940,3,0.0,9.7164

In [69]:
pd.unique(data['Region'])

array(['South', 'West', 'Central', 'East'], dtype=object)

In [70]:
# تصفية حسب الحاجة 
filtdata= data[data['Customer ID'].isin(x) & (data['Region'] == 'South') ]

In [71]:
pd.pivot_table(filtdata,index='Sub-Category',values = ['Sales'])

                     Sales
Sub-Category
Accessories     498.000000
Art              11.521200
Binders         465.904250
Chairs          646.618000
Envelopes        23.340000
Fasteners        18.936000
Furnishings     179.508333
Machines      10736.576667
Paper            17.754667
Phones          699.930000

In [72]:
filterdata= data[data['Customer ID'].isin(x)]

In [73]:
pd.pivot_table(filterdata,index='Region',values = ['Sales'])

               Sales
Region
Central   897.531566
East      959.375737
South    1399.804037
West      652.877735

In [74]:
# تصفية البيانات لنجري عليها تمحور
filter_data= data[data['Customer ID'].isin(x)]
filter_data

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
237,238,CA-2016-157749,2016-06-04,2016-06-09,Second Class,KL-16645,Ken Lonsdale,Consumer,United States,Chicago,...,60610,Central,OFF-PA-10003349,Office Supplies,Paper,Xerox 1957,25.920,5,0.2,9.3960
238,239,CA-2016-157749,2016-06-04,2016-06-09,Second Class,KL-16645,Ken Lonsdale,Consumer,United States,Chicago,...,60610,Central,FUR-FU-10000576,Furniture,Furnishings,Luxo Professional Fluorescent Magnifier Lamp w...,419.680,5,0.6,-356.7280
239,240,CA-2016-157749,2016-06-04,2016-06-09,Second Class,KL-16645,Ken Lonsdale,Consumer,United States,Chicago,...,60610,Central,FUR-FU-10004351,Furniture,Furnishings,Staple-based wall hangings,11.688,3,0.6,-4.6752
240,241,CA-2016-157749,2016-06-04,2016-06-09,Second Class,KL-16645,Ken Lonsdale,Consumer,United States,Chicago,...,60610,Central,TEC-PH-10000011,Technology,Phones,PureGear Roll-On Screen Protector,31.984,2,0.2,11.1944
241,242,CA-2016-157749,2016-06-04,2016-06-09,Second Class,KL-16645,Ken Lonsdale,Consumer,United States,Chicago,...,60610,Central,FUR-TA-10002607,Furniture,Tables,KI Conference Tables,177.225,5,0.5,-120.5130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9207,9208,CA-2017-140781,2017-08-03,2017-08-07,Standard Class,AB-10105,Adrian Barton,Consumer,United States,Bloomington,...,61701,Central,TEC-AC-10000682,Technology,Accessories,Kensington K72356US Mouse-in-a-Box USB Desktop...,39.816,3,0.2,7.4655
9609,9610,CA-2016-130638,2016-05-16,2016-05-19,Second Class,SC-20095,Sanjit Chand,Consumer,United States,Los Angeles,...,90045,West,FUR-FU-10002116,Furniture,Furnishings,"Tenex Carpeted, Granite-Look or Clear Contempo...",282.840,4,0.0,19.7988
9610,9611,CA-2016-130638,2016-05-16,2016-05-19,Second Class,SC-20095,Sanjit Chand,Consumer,United States,Los Angeles,...,90045,West,OFF-LA-10002195,Office Supplies,Labels,Avery 481,27.720,9,0.0,13.3056
9671,9672,US-2017-140312,2017-11-13,2017-11-19,Standard Class,KL-16645,Ken Lonsdale,Consumer,United States,Dublin,...,94568,West,TEC-PH-10003442,Technology,Phones,Samsung Replacement EH64AVFWE Premium Headset,22.000,5,0.2,1.3750
9690,9691,CA-2017-140536,2017-04-04,2017-04-05,First Class,TA-21385,Tom Ashbrook,Home Office,United States,New York City,...,10035,East,OFF-AR-10001545,Office Supplies,Art,Newell 326,7.040,4,0.0,2.0416

In [75]:
df_f = pd.pivot_table(filter_data,index='Sub-Category',columns = ['Region'],values = ['Sales'])
df_f

                     Sales
Region             Central          East         South         West
Sub-Category
Accessories      48.608000     75.609333    498.000000   148.123500
Appliances      150.730000    406.600000           NaN   151.620000
Art              17.740000     63.561333     11.521200    51.016000
Binders        1841.724333     43.443333    465.904250    56.958286
Bookcases              NaN    299.970000           NaN          NaN
Chairs                 NaN           NaN    646.618000   328.892800
Copiers       17499.950000  10033.304667           NaN  8399.960000
Envelopes        45.000000     63.900000     23.340000    24.816000
Fasteners         1.824000           NaN     18.936000     5.000000
Furnishings     147.352000    187.760000    179.508333   130.551667
Labels           11.960000           NaN           NaN    21.170000
Machines        287.910000           NaN  10736.576667          NaN
Paper            29.160000     35.866000     17.754667    42.970000
Phones          613.024667    442.861714    699.930000   237.250000
Storage         149.725600    268.178400           NaN    72.219000
Supplies        357.930000      3.488000           NaN  4760.073000
Tables          389.347500           NaN           NaN   393.165000

In [76]:
# نلاحظ أنه لدينا أعمدة متعددة
df_f.columns

MultiIndex([('Sales', 'Central'),
            ('Sales',    'East'),
            ('Sales',   'South'),
            ('Sales',    'West')],
           names=[None, 'Region'])

In [77]:
# إلغاء  الأعمدة المتعددة
df_f.columns = ['_'.join(i) for i in df_f.columns]

In [78]:
df_f

              Sales_Central    Sales_East   Sales_South   Sales_West
Sub-Category
Accessories       48.608000     75.609333    498.000000   148.123500
Appliances       150.730000    406.600000           NaN   151.620000
Art               17.740000     63.561333     11.521200    51.016000
Binders         1841.724333     43.443333    465.904250    56.958286
Bookcases               NaN    299.970000           NaN          NaN
Chairs                  NaN           NaN    646.618000   328.892800
Copiers        17499.950000  10033.304667           NaN  8399.960000
Envelopes         45.000000     63.900000     23.340000    24.816000
Fasteners          1.824000           NaN     18.936000     5.000000
Furnishings      147.352000    187.760000    179.508333   130.551667
Labels            11.960000           NaN           NaN    21.170000
Machines         287.910000           NaN  10736.576667          NaN
Paper             29.160000     35.866000     17.754667    42.970000
Phones           613.024667    442.861714    699.930000   237.250000
Storage          149.725600    268.178400           NaN    72.219000
Supplies         357.930000      3.488000           NaN  4760.073000
Tables           389.347500           NaN           NaN   393.165000

In [79]:
# ترتيب الأعمدة 
df_f.sort_values(by='Sales_Central',ascending=False)

              Sales_Central    Sales_East   Sales_South   Sales_West
Sub-Category
Copiers        17499.950000  10033.304667           NaN  8399.960000
Binders         1841.724333     43.443333    465.904250    56.958286
Phones           613.024667    442.861714    699.930000   237.250000
Tables           389.347500           NaN           NaN   393.165000
Supplies         357.930000      3.488000           NaN  4760.073000
Machines         287.910000           NaN  10736.576667          NaN
Appliances       150.730000    406.600000           NaN   151.620000
Storage          149.725600    268.178400           NaN    72.219000
Furnishings      147.352000    187.760000    179.508333   130.551667
Accessories       48.608000     75.609333    498.000000   148.123500
Envelopes         45.000000     63.900000     23.340000    24.816000
Paper             29.160000     35.866000     17.754667    42.970000
Art               17.740000     63.561333     11.521200    51.016000
Labels            11.960000           NaN           NaN    21.170000
Fasteners          1.824000           NaN     18.936000     5.000000
Bookcases               NaN    299.970000           NaN          NaN
Chairs                  NaN           NaN    646.618000   328.892800

In [80]:
data.groupby('Region').sum()

           Row ID  Postal Code        Sales  Quantity  Discount       Profit
Region
Central  11685963    151786150  501239.8908      8780    558.34   39706.3625
East     14073919     50171698  678781.2400     10618    414.00   91522.7800
South     8213295     55875052  391721.9050      6209    238.55   46749.4303
West     15971838    293739752  725457.8245     12266    350.20  108418.4489

In [81]:
data.groupby(['Region','Customer ID']).sum()

                     Row ID  Postal Code     Sales  Quantity  Discount  \
Region  Customer ID
Central AA-10315      23123       425470  4780.552        19       0.8
        AA-10375       1617       136208   178.370         5       0.0
        AA-10480      54075       570205  1747.500        31       0.0
        AA-10645      24027       219360  1971.460        12       0.0
        AB-10015      25828       222257   576.564         6       0.2
...                     ...          ...       ...       ...       ...
West    XP-21865      54478      1100183   660.190        49       0.4
        YC-21895       3443       184142  1215.676         8       0.2
        YS-21880      43738       661327  5754.172        38       0.4
        ZC-21910      28239      1475016  2641.089        44       2.6
        ZD-21925       8402       372363   306.200        12       0.4

                        Profit
Region  Customer ID
Central AA-10315     -650.5971
        AA-10375       62.0658
        AA-10480      420.4986
        AA-10645      439.3138
        AB-10015      114.3432
...                        ...
West    XP-21865      298.3414
        YC-21895      382.0575
        YS-21880     1551.5945
        ZC-21910      346.0942
        ZD-21925       42.4662

[2501 rows x 6 columns]

In [82]:
data.groupby(['Region','Customer ID']).agg({'Sales':'sum','Profit':'sum'}).reset_index()

       Region Customer ID     Sales     Profit
0     Central    AA-10315  4780.552  -650.5971
1     Central    AA-10375   178.370    62.0658
2     Central    AA-10480  1747.500   420.4986
3     Central    AA-10645  1971.460   439.3138
4     Central    AB-10015   576.564   114.3432
...       ...         ...       ...        ...
2496     West    XP-21865   660.190   298.3414
2497     West    YC-21895  1215.676   382.0575
2498     West    YS-21880  5754.172  1551.5945
2499     West    ZC-21910  2641.089   346.0942
2500     West    ZD-21925   306.200    42.4662

[2501 rows x 4 columns]

In [83]:
df_g = data.groupby(['Region','Customer ID']).agg({'Sales':['sum','mean']})
df_g

                        Sales
                          sum        mean
Region  Customer ID
Central AA-10315     4780.552  796.758667
        AA-10375      178.370   89.185000
        AA-10480     1747.500  174.750000
        AA-10645     1971.460  657.153333
        AB-10015      576.564  192.188000
...                       ...         ...
West    XP-21865      660.190   55.015833
        YC-21895     1215.676  607.838000
        YS-21880     5754.172  822.024571
        ZC-21910     2641.089  165.068062
        ZD-21925      306.200   76.550000

[2501 rows x 2 columns]

In [84]:
df_g.columns.names = ['level1', 'level2']
df_g

level1                  Sales
level2                    sum        mean
Region  Customer ID
Central AA-10315     4780.552  796.758667
        AA-10375      178.370   89.185000
        AA-10480     1747.500  174.750000
        AA-10645     1971.460  657.153333
        AB-10015      576.564  192.188000
...                       ...         ...
West    XP-21865      660.190   55.015833
        YC-21895     1215.676  607.838000
        YS-21880     5754.172  822.024571
        ZC-21910     2641.089  165.068062
        ZD-21925      306.200   76.550000

[2501 rows x 2 columns]

In [85]:
df = data.groupby(['Region','Customer ID']).agg({'Sales':['sum','mean'],'Profit':'sum'})
df

                        Sales                 Profit
                          sum        mean        sum
Region  Customer ID
Central AA-10315     4780.552  796.758667  -650.5971
        AA-10375      178.370   89.185000    62.0658
        AA-10480     1747.500  174.750000   420.4986
        AA-10645     1971.460  657.153333   439.3138
        AB-10015      576.564  192.188000   114.3432
...                       ...         ...        ...
West    XP-21865      660.190   55.015833   298.3414
        YC-21895     1215.676  607.838000   382.0575
        YS-21880     5754.172  822.024571  1551.5945
        ZC-21910     2641.089  165.068062   346.0942
        ZD-21925      306.200   76.550000    42.4662

[2501 rows x 3 columns]

In [86]:
df['Sales']['sum']

Region   Customer ID
Central  AA-10315       4780.552
         AA-10375        178.370
         AA-10480       1747.500
         AA-10645       1971.460
         AB-10015        576.564
                          ...
West     XP-21865        660.190
         YC-21895       1215.676
         YS-21880       5754.172
         ZC-21910       2641.089
         ZD-21925        306.200
Name: sum, Length: 2501, dtype: float64

In [87]:
df['profit_ratio'] = df['Profit']['sum'] / df['Sales']['sum']

In [88]:
df = df.sort_values(['Region','profit_ratio'],ascending= False)

In [89]:
df

                       Sales             Profit profit_ratio
                         sum     mean       sum
Region  Customer ID
West    LB-16735      21.480   21.480   10.7400     0.500000
        RD-19810     146.820  146.820   73.4100     0.500000
        SM-20320       9.960    9.960    4.8804     0.490000
        CG-12040      11.760   11.760    5.7624     0.490000
        TP-21415      12.960   12.960    6.3504     0.490000
...                      ...      ...       ...          ...
Central KN-16450      48.632   48.632 -121.5800    -2.500000
        SJ-20500      97.264   97.264 -243.1600    -2.500000
        SP-20920      23.992   23.992  -62.3792    -2.600000
        MG-17695     145.504   72.752 -392.8595    -2.699991
        Dl-13600       1.624    1.624   -4.4660    -2.750000

[2501 rows x 4 columns]

In [90]:
df.groupby(['Region']).head(20)['profit_ratio'].mean()

0.48217109457258867

In [91]:
df1 = df.head()

In [92]:
# جعل عناصر أخر عامود فهارس
df_1 = df1.stack()
df_1

                          Profit   Sales  profit_ratio
Region Customer ID
West   LB-16735              NaN     NaN          0.50
                   mean      NaN   21.48           NaN
                   sum   10.7400   21.48           NaN
       RD-19810              NaN     NaN          0.50
                   mean      NaN  146.82           NaN
                   sum   73.4100  146.82           NaN
       SM-20320              NaN     NaN          0.49
                   mean      NaN    9.96           NaN
                   sum    4.8804    9.96           NaN
       CG-12040              NaN     NaN          0.49
                   mean      NaN   11.76           NaN
                   sum    5.7624   11.76           NaN
       TP-21415              NaN     NaN          0.49
                   mean      NaN   12.96           NaN
                   sum    6.3504   12.96           NaN

In [93]:
# إنشاء أعمدة متعددة
x = [('old_columns','Profit'),('old_columns','Sales'),('new_column','profit_ratio')]

In [94]:
df_1.columns = pd.MultiIndex.from_tuples(x,names=['level1','level2'])

In [95]:
df_1

level1                  old_columns           new_column
level2                       Profit   Sales profit_ratio
Region Customer ID
West   LB-16735                 NaN     NaN         0.50
                   mean         NaN   21.48          NaN
                   sum      10.7400   21.48          NaN
       RD-19810                 NaN     NaN         0.50
                   mean         NaN  146.82          NaN
                   sum      73.4100  146.82          NaN
       SM-20320                 NaN     NaN         0.49
                   mean         NaN    9.96          NaN
                   sum       4.8804    9.96          NaN
       CG-12040                 NaN     NaN         0.49
                   mean         NaN   11.76          NaN
                   sum       5.7624   11.76          NaN
       TP-21415                 NaN     NaN         0.49
                   mean         NaN   12.96          NaN
                   sum       6.3504   12.96          NaN

In [96]:
# طريقة ثانية مفيدة عند وجود أعمدة كثيرة 
dic = {'level_1':['old_columns','old_columns','new_column'],
       'level_2':['Profit','Sales','profit_ratio']
       }
dic

{'level_1': ['old_columns', 'old_columns', 'new_column'],
 'level_2': ['Profit', 'Sales', 'profit_ratio']}

In [97]:
DF = pd.DataFrame(dic)
DF

       level_1       level_2
0  old_columns        Profit
1  old_columns         Sales
2   new_column  profit_ratio

In [98]:
df_1.columns  = pd.MultiIndex.from_frame(DF)
df_1

level_1                 old_columns           new_column
level_2                      Profit   Sales profit_ratio
Region Customer ID
West   LB-16735                 NaN     NaN         0.50
                   mean         NaN   21.48          NaN
                   sum      10.7400   21.48          NaN
       RD-19810                 NaN     NaN         0.50
                   mean         NaN  146.82          NaN
                   sum      73.4100  146.82          NaN
       SM-20320                 NaN     NaN         0.49
                   mean         NaN    9.96          NaN
                   sum       4.8804    9.96          NaN
       CG-12040                 NaN     NaN         0.49
                   mean         NaN   11.76          NaN
                   sum       5.7624   11.76          NaN
       TP-21415                 NaN     NaN         0.49
                   mean         NaN   12.96          NaN
                   sum       6.3504   12.96          NaN

In [99]:
data

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [100]:
data['Ship Mode']

0         Second Class
1         Second Class
2         Second Class
3       Standard Class
4       Standard Class
             ...
9989      Second Class
9990    Standard Class
9991    Standard Class
9992    Standard Class
9993      Second Class
Name: Ship Mode, Length: 9994, dtype: object

In [101]:
# فصل العامود
data['Ship Mode'].str.split(' ').head()

0      [Second, Class]
1      [Second, Class]
2      [Second, Class]
3    [Standard, Class]
4    [Standard, Class]
Name: Ship Mode, dtype: object

In [102]:
# تصفية البيانات حسب الحاجة
data[data['Ship Mode'].str.contains('Second')]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.960,2,0.0,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.940,3,0.0,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.620,2,0.0,6.8714
17,18,CA-2014-167164,2014-05-13,2014-05-15,Second Class,AG-10270,Alejandro Grove,Consumer,United States,West Jordan,...,84084,West,OFF-ST-10000107,Office Supplies,Storage,Fellowes Super Stor/Drawer,55.500,2,0.0,9.9900
18,19,CA-2014-143336,2014-08-27,2014-09-01,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,...,94109,West,OFF-AR-10003056,Office Supplies,Art,Newell 341,8.560,2,0.0,2.4824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9965,9966,CA-2016-146374,2016-12-05,2016-12-10,Second Class,HE-14800,Harold Engle,Corporate,United States,Newark,...,19711,East,OFF-PA-10000349,Office Supplies,Paper,Easy-staple paper,4.980,1,0.0,2.3406
9966,9967,CA-2016-146374,2016-12-05,2016-12-10,Second Class,HE-14800,Harold Engle,Corporate,United States,Newark,...,19711,East,OFF-EN-10004483,Office Supplies,Envelopes,"#10 White Business Envelopes,4 1/8 x 9 1/2",109.690,7,0.0,51.5543
9980,9981,US-2015-151435,2015-09-06,2015-09-09,Second Class,SW-20455,Shaun Weien,Consumer,United States,Lafayette,...,70506,South,FUR-TA-10001039,Furniture,Tables,KI Adjustable-Height Table,85.980,1,0.0,22.3548
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [103]:
# إستبدال بسيط
data['Ship Mode'].str.replace(' ','_').head()

0      Second_Class
1      Second_Class
2      Second_Class
3    Standard_Class
4    Standard_Class
Name: Ship Mode, dtype: object